
body {
    background-color: rgb(251,250,245);
}

h1{
    text-align: center;
    font-family: 'Borel', cursive;
    font-size: 8em;
    color: rgb(193, 226, 190);
}

p{
    text-align: center;
}

button{
    display: block;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#eliassonTurrellGlow{
    position: absolute;     /*relative to parent body*/
    z-index: -1;
    display: none;
    border-radius: 50%;
    background-color: #cae9be;
    box-shadow: -5px -5px 40px 50px #cae9be;
    margin: auto;
    height: 150px;
    width: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    animation-name: glowingCircle;
    animation-duration: 10s;
}

#quoteOfDay{
    position: relative;
    z-index: 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2em;
    padding-left: 15%;
    padding-right: 15%;
    transform: translate(0, 550%);
}

@keyframes glowingCircle {
    from{
        height: 150px; width:150px

    }

    to{
        height: 1000px; width:1000px;
        margin-top: -500px;
        margin-left: -500px;

    }
}


/*
soft green
https://www.color-hex.com/color-palette/93477
soft brown
https://www.color-hex.com/color-palette/93487

    background-color: rgb(193, 226, 190);

*/