
body {
    background-color: rgb(251,250,245);
    height: 100%;
}

h1{
    text-align: center;
    font-family: 'Borel', cursive;
    font-size: 10em;
    color: rgb(193, 226, 190);
    padding-top: 5%;
    margin-bottom: 0;
}

p{
    text-align: center;
    font-family: 'Karla', Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(120, 142, 118);
    margin-bottom: 80px;
}

#getInspiredBtn{
    display: block;
    margin: auto;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Karla', Helvetica, sans-serif;
    padding: 20px;
    background-color: rgb(251,250,245);
    color: rgb(120, 142, 118);
    box-shadow: 5px 5px 10px 5px rgb(120, 142, 118);
}

#eliassonTurrellGlow{
    z-index: -1;
    display: none;
    border-radius: 50%;
    background-color: #bdddb0;
    box-shadow:
        -5px -5px 300px 50px #bdddb0,
        0px 0px 50px 200px white,
        inset -5px 0px 200px white;
    /* x offset, y offset, blur, spread, color */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: glowingCircle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#quoteOfDay{
    z-index: 3;
    text-align: center;
    font-family: 'Karla', Helvetica, sans-serif;
    font-style: italic;
    font-size: 2em;
    color: darkslategray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
/*position calculate from top left corner. Use transform to move item w half its width&height */
}

#backHome{
    display: none;
    background-color: transparent;
    border-radius: 12px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Karla', Helvetica, sans-serif;
    color: rgb(120, 142, 118);
    box-shadow: 2px 2px 5px 0px rgb(120, 142, 118);
    border: none;

    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes glowingCircle {
    from {
        height: 600px; width:600px;
    }
    50%{
        height: 800px; width:800px;
    }
    to{
        height: 600px; width:600px;
    }
}

@media (max-width: 320px){
    h1{
        font-size: 2em;
        text-align: center;
    }    
    p{
        font-size: 1em;
        text-align: center;
    }
    #mainHomeDiv{
        padding-left: 4%;
    }
    button{
        font-size: 0.8em;
        padding: 12px; 
    }
    #quoteOfDay{
        font-size: 1em;
    }
}

@media (max-width: 479px ){
    h1{
        font-size: 5em;
    }
    p{
        font-size: 1.5em;
    }
    #mainHomeDiv{
        padding: 0 4%;
    }
    button{
       font-size: 1em;
       padding: 15px; 
    }
    #quoteOfDay{
        font-size: 1.5em;
    }
}
@media (max-width: 700px ){
    h1{
        font-size: 8em;
    }
    p{
        font-size: 1.8em;
    }
    #mainHomeDiv{
        padding: 0 4%;
    }
    button{
       font-size: 1em;
       padding: 18px; 
    }
    #quoteOfDay{
        font-size: 1.8em;
    }    
}


/*
soft green
https://www.color-hex.com/color-palette/93477
*/